body {
    font-family: 'Nunito', sans-serif;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tooltip-inner {
  font-size: 0.8rem;
}

.main-container {
    padding: 0 !important;
}

.floating {
    border-radius: 2px;
    background: #00000038;
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.filters {
    top: 100px;
    left: 10px;
    width: 175;
}

.filters .btn-group {
    display: block;
}

.filters .btn-group .btn {
    width: 155px;
    font-size: 0.75rem;
}

.filters .dropdown-menu {
    font-size: 0.75rem;
    line-height: 0.75rem;
    padding: 0.25rem 0.50;
}

#map{
    height:700px;
    width:100%;
}

    
.contenedor {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.data-item, 
.data-list {
    width: 300px;
    margin-right: 10px;
}

.wrapper {
  background: #FFF;
  padding: 10px;
  box-shadow: 5px 5px 10px #0000002b;
}

.close {
    cursor: pointer;
}

.inner-resource,
.inner-resource-list {
    font-size: 0.75rem;
    padding-top: 25px;
}

.inner-resource .col,
.inner-resource .col-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.inner-resource .resource-type {
    font-weight: bold;
}

.inner-resource .location span,
.inner-resource .cdr span {
    display: table;
}

.inner-resource span.text-area {
    max-height: 5.5rem;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.inner-resource .cdr-name a {
    color: #000;
    padding: 5px;
    font-weight: bold;
}

.inner-resource .cdr-name a:hover {
    background: #efefef;
    text-decoration: none;
}

.inner-resource i.nested-ban {
  position: absolute;
  top: -6px;
  left: -6px;
  font-size: 200%;
  color: rgba(217, 83, 79, 0.7);
}

.inner-resource .gallery img {
    width: 40px;
    height: auto;
    border: 1px solid #dbdbdb;
    padding: 2px;
    display: inline-block;
}

.inner-resource-list ul {
    list-style: none;
    max-height: 415px;
    overflow: scroll;
    margin-bottom: 0.5rem;
}

.inner-resource-list li:hover {
    background: #d2d2d2;
}

a.resource-list-item {
    color: #000;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    
}

a.resource-list-item:hover {
    color: #000;
    text-decoration: none;
}

.thumbnail {
    cursor: pointer;
}

#photo {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 60px;
    z-index: 10;
}

img.photo-big {
    max-width: 100%;
    box-shadow: 5px 5px 10px #0000002b;
}

#datos-cdr span,
#datos-cdr a {
    display: block;
    font-size: 0.8rem;
}

#datos-cdr a {
    color: #000;
    font-size: 0.8rem;
}

#datos-cdr a:hover {
    text-decoration: none;
    background: #EFEFEF;
    font-weight: bold;
}

#datos-cdr img {
    border:  1px dotted #DDD;
    padding: 5px;
}

.cluster-selected {
    border: 2px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
